html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

@media (orientation: landscape) {
    html,
    body {
        width: 100vw;
        height: 100vh;
    }
}

body,
body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}

.container {
    position: absolute;
}

#gui {
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
    height: 100vh;
    margin-left: env(safe-area-inset-left);
}

.controller.color.disabled {
    opacity: 1.0;
}

.controller.color > .name {
    opacity: 0.5;
}

.controller.color input {
    opacity: 0.5;
}

.joystick {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;;
}
